.app-logo {
  max-width: 75px; /* Adjust based on your logo's dimensions */
  height: auto;
  display: block;
  margin: 0 auto 10px; /* Center and add some space below */
}

.full-width-row {
  width: 100%;
  margin: 0;
  padding: 0;
}