@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.app-logo {
  width: 300px; 
  height: 300px;
  display: block;
  margin: 0 auto 10px; 
  object-fit: cover;
  border-radius: 50%;
}

.full-width-row {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333; /* A nice dark grey for readability */
  background-color: #f4f4f4; /* Light grey background */
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
  font-weight: 700; /* Bold for headings */
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.25em;
}
h6 {
  font-size: 1em;
}
p {
  margin-bottom: 1em;
}
a {
  color: #007BFF; /* Bootstrap's primary color for links */
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: #0056b3; /* Darker shade for hover effect */
}