/* App.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'D3 Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.app-logo {
  max-width: 150px; /* Adjust based on your logo's dimensions */
  height: auto;
  display: block;
  margin: 0 auto 10px; /* Center and add some space below */
}

.app-title {
  color: #333;
  font-size: 2em;
  margin: 0;
}

/* Search Input Styling */
.search-container {
  width: 75%;
  margin: 0 auto 20px; /* Center the search bar */
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Autosuggest Styling */
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__suggestions-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 2;
  background: #ffffff; /* White background */
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.react-autosuggest__suggestions-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.react-autosuggest__suggestion {
  padding: 10px;
  cursor: pointer;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #f0f0f0;
}

/* Panel Styling */
.result-panel {
  margin-top: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 4px;
}

/* Chart and List Styling */
.chart-container, .list-container {
  margin-bottom: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .search-container {
    width: 90%;
  }
}